{% extends "rememberTheCheese/base.html" %}

{% block content %}

	<h2>{{ task.description }}</h2>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'rememberTheCheese:create_subtask' task.id %}" method="post">
	{% csrf_token %}		
		{{ form.as_p }}	
	    <div class="form-group">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>

	<form action="{% url 'rememberTheCheese:mark_subtask_as_finished' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="task_id" value="{{ task.id}}">
		
		{% for subtask in unfinished_subtasks %}

	    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			    	<div class="checkbox">
						<label>
						  	<input type="checkbox" name="subtasks" value="{{ subtask.id }}"> 
						  	{{subtask.description}}
						</label>
					</div>
			    	</h4>
			    </div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-md-4">
							<b>Deadline</b>	: {{subtask.get_deadline}}
						</div>						
					</div>
					

					<div class="row">						
						<div class="col-xs-6 col-md-4">
							<a href="{% url 'rememberTheCheese:delete_subTask' subtask.id %}">Delete</a>
					    	<a href="#">Update</a>
					    	<a href="{% url 'rememberTheCheese:detail_subTask' subtask.id %}">More Details</a>
						</div>						
					</div>
				</div>
				
			</div>
		{% endfor %}
		
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			Mask selected items as completed
		</button>			
	</form>

	<br>

	<form action="{% url 'rememberTheCheese:undo_finished_subtasks' %}" method="post">
	{% csrf_token %}
		<div class="panel panel-info">
		<!-- Default panel contents -->
		<div class="panel-heading"><h2>Finished Subtasks</h2> </div>
		
			<!-- List group -->
			<ul class="list-group">
				{% for subtask in finished_subtasks %}
					
					<li class="list-group-item" >
						<label>
						  	<input type="checkbox" name="finished_subtasks" value="{{ subtask.id }}"> 
						  	<s>{{ subtask.description }}</s>						  	
						</label>
						<p>
							finished at {{subtask.modified_at}}
						</p>
						
					</li>
				{% endfor %}
			</ul>
		</div>

		<button type="submit" class="btn btn-primary">Undo selected finished subtasks</button>
	</form>

{% endblock content%}