<h1>{{ lista.description }}</h1>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create' lista.id %}" method="post">
{% csrf_token %}
<label >Add new subtask </label><br />
<input type="text" name="description" id="choice{{ forloop.counter }}" value="" />
    
<input type="submit" value="Add" />
</form>

<table>
	<th>
		<tr></tr>
		<tr></tr>
		<tr></tr>
	</th>
	{% for item in lista.item_set.all %}
    <tr>
    	<td>{{item.description}}</td>
    	<td><a href="{% url 'delete' item.id %}">Delete</a></td>
    	<td><a href="#">Update</a></td>
    	<td><a href="{% url 'detail_item' item.id %}">More Details</a></td>
    </tr>
	{% endfor %}
</table>

<a href="{% url 'index' %}">Back</a>