{% extends "rememberTheCheese/base.html" %}
{% block head_title %} {{ instance.title }} | {{ block.super }} {% endblock head_title %}

    <h1>Hi there</h1>

{% block content %}    

    {{ block.super }}
    <div class="container col-sm-8 col-sm-offset-3">    
        <form action="{% url 'index' %}" method="post">
            {% csrf_token%}
            <input type="text" name="search" placeholder="Make a search">
            <input type="submit" value="Go">
        </form>

        <h2>Create a new task</h2>

        <form action="{% url 'create_task' %}" method="post">
            {% csrf_token %}
            <label >Add new task </label><br />
            <input type="text" name="task_description"  value="" />
                
            <input type="submit" value="Add" />
        </form>

        <h2> These are your tasks </h2>
        {% if tasks %}
            <ul>
            {% for task in tasks %}

                {% if not task.description == 'Inbox' %}
                    <p>
                        <h4>{{ task.description }}</h4>
                        <a href="{% url 'detail_task' task.id %}">view</a> <a href="{% url 'delete_task' task.id %}">Delete</a> <br>
                        <strong>DDL:</strong>{{task.get_deadline}} <br>
                        {{task.get_pct_finished}}% finished            
                    </p>
                    <br>--------
                {% else %}
                    <h2> Tasks avulças aqui </h2>
                {% endif%}
            {% endfor %}
            </ul>
        {% else %}
            <p>No tasks are available.</p>
        {% endif %}
    </div>

{% endblock content %}