{% extends "rememberTheCheese/base.html" %}

<% block content %>


	<h1>Subtasks for today</h1>

	<div class="">
	<form action="{% url 'mark_subtask_as_finished' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="task_id" value="{{ task.id}}">
		{% for subtask in subtasks %}
			<p>		
				<h3><input type="checkbox" name="subtasks" value="{{subtask.id}}">{{subtask.description}}</h3>
				<b>Deadline</b>	: {{subtask.get_deadline}}<br>
		    	<a href="{% url 'delete_subTask' subtask.id %}">Delete</a>
		    	<a href="#">Update</a>
		    	<a href="{% url 'detail_subTask' subtask.id %}">More Details</a>
	    	</p>
		{% endfor %}

		
		<p>
			<input type="submit" value="Mask selected items as completed">
		</p>
	</form>

	<a href="{% url 'index' %}">Back</a>

<% endblock content %>